.loading-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(
		255,
		255,
		255,
		0.7
	); /* Semi-transparent white background */
}

.loading-content {
	width: 5rem; /* Size of the loading icon */
	height: 5rem;
}
